@using CompanyManagementSystem.Views.Shared.Components.SearchBar;
@model List<Employee>
@section title {
    <div class="container mt-1 d-flex justify-content-between align-items-center">
        <h3>Employees</h3>
        @if (User.IsInRole("Admin"))
        {
            
        <div class="">
            <a class="btn btn-success" asp-controller="employees" asp-action="add">Add Employee</a>
        </div>
        }
    </div>
}

@if (Model != null && Model.Count() == 0)
{
    <p>Oops! No employee to display</p>
}

@{
    SPager pager = new SPager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }
}

@if (Model != null && Model.Count() > 0)
{
    @if (@TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <vc:search-bar search-pager="@ViewBag.SearchPager" bottom-bar="false" class="flex-grow-1"></vc:search-bar>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>EmployeeID</th>
                    @* <th>UserID</th> *@
                    <th style="width: 13%">FullName&nbsp;<a asp-controller="employees" asp-action="index" asp-route-sortBy="name" asp-route-direction="up" class="text-black fw-bold fs-5 text-decoration-none"> &uarr;</a> &nbsp; <a asp-controller="employees" asp-action="index" asp-route-sortBy="name" asp-route-direction="down" class="text-black fw-bold fs-5 text-decoration-none"> &darr;</a></th>
                    <th>Birthday</th>
                    <th style="width: 8%">Sex <a asp-controller="employees" asp-action="index" asp-route-sortBy="sex" asp-route-direction="up" class="text-black fw-bold fs-5 text-decoration-none"> &uarr;</a> &nbsp; <a asp-controller="employees" asp-action="index" asp-route-sortBy="sex" asp-route-direction="down" class="text-black fw-bold fs-5 text-decoration-none"> &darr;</a></th>
                    <th style="width: 10%">Salary <a asp-controller="employees" asp-action="index" asp-route-sortBy="salary" asp-route-direction="up" class="text-black fw-bold fs-5 text-decoration-none"> &uarr;</a> &nbsp; <a asp-controller="employees" asp-action="index" asp-route-sortBy="salary" asp-route-direction="down" class="text-black fw-bold fs-5 text-decoration-none"> &darr;</a></th>
                    <th>Supervisor ID</th>
                    <th>Branch ID</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.EmpId</td>
                        @* <td>@employee.UserId</td> *@
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.BirthDay.ToString("dd/MM/yyyy")</td>
                        <td>@employee.Sex</td>
                        <td>@employee.Salary</td>
                        <td>@employee.SupervisorId</td>
                        <td>@employee.BranchId</td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td><a class="btn btn-success" asp-controller="employees" asp-action="edit" asp-route-id="@employee.EmpId">Edit</a></td>
                            <td>
                                <div class="modal-btn">
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser-@employee.EmpId" data-store-id="@employee.EmpId" id="deleteUser">Delete</button>
                                </div>
                            </td>
                        }
                    </tr>
                    <!--Delete Modal -->
                    <div class="modal fade" id="deleteUser-@employee.EmpId" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span>Once deleted, you will not be able to recover</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" asp-controller="employees" asp-action="delete" asp-route-employeeid="@employee.EmpId" id="confirm-delete-user">Ok</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    </div>
    <vc:search-bar search-pager="@ViewBag.SearchPager" bottom-bar="true"></vc:search-bar>
}
