@using CompanyManagementSystem.Views.Shared.Components.SearchBar;
@model SPager

<div class="container-fluid mt-2 p-1 btn-group" style="background-color: lightgray; border-radius: 25px; height: 50px; overflow-y: auto;">

    <div class="col-md-4 col-sm-12 btn-group p-1 m-1 d-flex align-items-center">
        <span class="mr-0">Showing @Model.StartRecord to @Model.EndRecord of @Model.TotalItems @(Model.TotalItems == 1 ? "Row" : "Rows")</span>
    </div>

    <div class="col-md-3 col-sm-12 btn-group justify-content-center align-items-center">
        <span class="mr-2">Rows Per Page</span>
        <select class="form-control form-select" id="pageSelector" asp-items="@ViewBag.PageSizes"
                onchange="ChangePageSize(this, '@Model.SearchText');"></select>
    </div>

    <div class="col-md-4 col-sm-12 btn-group justify-content-end p-1 m-1">
        <span class="mr-2">Showing @Model.CurrentPage / @Model.TotalPages Pages</span>
    </div>
</div>

<script>
    function ChangePageSize(obj, searchtext) {
        window.location.href = `/@Model.Controller/@Model.Action?pageSize=${obj.value}&SearchText=${searchtext}`;
    }
</script>
