@using CompanyManagementSystem.Views.Shared.Components.SearchBar;
@model List<AuditLogs>
@section title {
    <div class="container mt-1 d-flex justify-content-between align-items-center">
        <h3>Audit Trails</h3>
        <div class="">
            <a class="btn btn-primary" asp-controller="auditlogs" asp-action="generate">Download Report</a>
        </div>
    </div>
}

@if (Model != null && Model.Count() == 0)
{
    <p>Oops! No Logs currently</p>
}



@{
    SPager pager = new SPager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }


}

@if (Model != null && Model.Count() > 0)
{
    @if (@TempData["AlertMessage"] != null)
    {

        <div class="alert alert-success alert-dismissible" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <vc:search-bar search-pager="@ViewBag.SearchPager" bottom-bar="false"></vc:search-bar>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>ActionType <a asp-controller="auditlogs" asp-action="index" asp-route-sortBy="ActionType" asp-route-direction="up" class="text-black fw-bold fs-5 text-decoration-none"> &uarr;</a> &nbsp; <a asp-controller="auditlogs" asp-action="index" asp-route-sortBy="ActionType" asp-route-direction="down" class="text-black fw-bold fs-5 text-decoration-none"> &darr;</a></th>
                    <th>TableName <a asp-controller="auditlogs" asp-action="index" asp-route-sortBy="TableName" asp-route-direction="up" class="text-black fw-bold fs-5 text-decoration-none"> &uarr; &nbsp; <a asp-controller="auditlogs" asp-action="index" asp-route-sortBy="TableName" asp-route-direction="down" class="text-black fw-bold fs-5 text-decoration-none"> &darr;</a></a></th>
                    <th>TimeStamp <a asp-controller="auditlogs" asp-action="index" asp-route-sortBy="TimeStamp" asp-route-direction="up" class="text-black fw-bold fs-5 text-decoration-none"> &uarr; &nbsp; <a asp-controller="auditlogs" asp-action="index" asp-route-sortBy="TimeStamp" asp-route-direction="down" class="text-black fw-bold fs-5 text-decoration-none"> &darr;</a></a></th>
                    <th>EntityId</th>
                    @* @if (User.IsInRole("Admin"))
                    {

                        <th></th>
                        <th></th>
                    } *@
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                    <tr>
                        <td>@log.UserId</td>
                        <td>@log.ActionType</td>
                        <td>@log.TableName</td>
                        <td>@log.Timestamp</td>
                        <td>@log.EntityId</td>
                        @* @if (User.IsInRole("Admin"))
                        {

                            <td><a class="btn btn-success" asp-controller="branchsuppliers" asp-action="edit" asp-route-id="@supplier.BranchId" asp-route-supplierName="@supplier.SupplierName">Edit</a></td>
                            <td>
                                <div class="modal-btn">
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser-@supplier.BranchId-@supplier.SupplierName.Replace(" ", "-").Replace("&", "-").Replace(".", "-")" data-store-id="@supplier.BranchId-@supplier.SupplierName.Replace(" ", "-").Replace("&", "-").Replace(".", "-")" id="deleteUser">Delete</button>
                                </div>
                            </td>
                        } *@
                    </tr>
                    <!--Delete Modal -->
                    @* <div class="modal fade" id="deleteUser-@supplier.BranchId-@supplier.SupplierName.Replace(" ", "-").Replace("&", "-").Replace(".", "-")" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span>Once deleted, you will not be able to recover</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" asp-controller="branchsuppliers" asp-action="delete" asp-route-branchId="@supplier.BranchId" asp-route-supplierName="@supplier.SupplierName" id="confirm-delete-user">Ok</a>
                                </div>
                            </div>
                        </div>
                    </div> *@
                }
            </tbody>
        </table>
    </div>
    <vc:search-bar search-pager="@ViewBag.SearchPager" bottom-bar="true"></vc:search-bar>

}