@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}
@section title {
    <div class="container mt-1 d-flex justify-content-between align-items-center">
        <h3>View Roles</h3>
        <div class="">
            <a class="btn btn-success" asp-action="Create">Create Role</a>

        </div>
    </div>
}

@if (Model != null && Model.Count() > 0)
{
    @if (@TempData["AlertMessage"] != null)
    {

        <div class="alert alert-success alert-dismissible" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <div class="modal-btn">
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser-@item.Id" data-store-id="@item.Id" id="deleteUser">Delete</button>
                    </div>
                </td>
            </tr>
            <!--Delete Modal -->
            <div class="modal fade" id="deleteUser-@item.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span>Once deleted, you will not be able to recover</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" asp-controller="approles" asp-action="delete" asp-route-Id="@item.Id" id="confirm-delete-user">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>